.playerimg {
  aspect-ratio: auto;
  height: 5rem;
}

.playerPreviewData {
  display: flex;
  flex-direction: row;
  background-color: pink;
  justify-content: space-around;
  align-items: center;
  padding: 0.25em;
  padding-bottom: 0;
  margin-bottom: 0;
  border-radius: 8px;
}

.error {
  color: red;
}
