.navbar {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    text-transform: none;
    color: black;
    gap: 1em;
}

.linkStyle {
    color: orange;
    text-decoration: none;
}

.linkStyle:hover {
    opacity: 50%;
}