.navbar {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  text-transform: none;
  color: black;
  gap: 1em;
  background-color: rgb(143, 148, 146);
  justify-content: space-between;
  padding: 0.5em;
  align-items: center;
}

.linkStyle {
  color: orange;
  text-decoration: none;
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 1em;
}

.linkStyle > h2 {
  font-size: larger;
  font-weight: bold;
}

.linkStyle:hover {
  opacity: 50%;
}

.pfp {
  aspect-ratio: auto;
  width: 3em;
}

.logoutButton {
  padding: 0.5em;
  padding-left: 2em;
  padding-right: 2em;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 4px;
}
