.bannerList {
    display: flex;
    flex-direction: row;
    background-color: lightgray;
    border-radius: 8px;
    padding: 1em;
    justify-content: space-around;
    margin-bottom: 0.5em;
}

.lol {
   opacity: 0;
}
.playersTable {
    display: flex;
    flex-direction: column;

}

.playersTable > tr > th:hover {
    opacity: 80%;
}
