.teamimg {
    aspect-ratio: auto;
    height: 5em;
}
.matchPreviewCard {
    display: flex;
    flex-direction: row;
    gap: 1em;
    align-items: center;
}

.singleTeamPrev {
    color: white;
    display: flex;
    flex-direction: row;
    gap: 1em;
    padding: 0.5em;
    margin: 0.5em;
    border-radius: 8px;
    align-items: center;
}


