.bannerList {
  display: flex;
  flex-direction: row;
  background-color: lightgray;
  border-radius: 8px;
  padding: 1em;
  justify-content: space-around;
  margin-bottom: 0.5em;
}

.lol {
  opacity: 0;
}
.playersTable {
  display: flex;
  flex-direction: column;
}

.playersTable > tr > th:hover {
  opacity: 80%;
}

.playersTable > thead > tr > Button {
  border: 1px solid white;
  padding: 0.5em;
  border-radius: 8px;
}

$base-color: black;

@for $i from 1 through 9 {
  .playersTable > thead > tr > button:nth-child(3n + #{$i}) {
    background-color: lighten($base-color, $i * 5%);
  }
  .playersTable > thead > tr > button:nth-child(3n + #{$i}):hover {
    opacity: $i * 10%;
  }
}
